// Primary Colors
$background: rgb(255, 87, 51);
$black: #000; 


// Secondary Colors
$gray-light: rgb(230, 230, 230);
$yellow-golden: rgb(255, 193, 7); 
$orange-soft: rgb(255, 179, 71);
$blue-soft: rgb(173, 216, 230); 
$lime-green: rgb(154, 205, 50); 

